<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEMO</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
</head>
<body>
<div ng-app="myapp" ng-controller="myctrl">
    <textarea ng-model="msg" cols="25" rows="8"></textarea><br>
    <button ng-click="save();">Save</button>&nbsp;&nbsp;<button ng-click="clear();">Clear</button><br>
    <span style="color:red;">total num:{{num()}}--<span style="color:blue;" ng-bind="num();"></span></span>
</div>
<script type="text/javascript">
    var app = angular.module("myapp",[]);
    app.controller("myctrl",function ($scope) {
        $scope.msg = "demo";
        $scope.num = function () {
            return 100-$scope.msg.length;
        }
        $scope.save = function () {
            alert("msg saved");
        };
        
        $scope.clear = function () {
            $scope.msg = '';
        }
    });
</script>
</body>
</html>