<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body style="text-align:center;">
<h2>{{title}}</h2>
<br>
<form name="myform" id="myform" action="form_temp" method="POST">
    Uname:<input type="text" name="uname" id="uname"/><br><br>
    Uage: <input type="text" name="uage" id="uage"/><br><br>
    Uaddr:<input type="text" name="uaddr" id="uaddr"/><br><br>
    <input type="submit" name="submit" value="sumbit"/>
    &nbsp;&nbsp;
    <input type="reset" name="reset" value="reset"/>
</form>
</body>
</html>