@import  "nib"
body
	background: linear-gradient(20px top, white, black) 
	font-size: 12pt
header
	#logo
		border: 1px solid red
		font-size: 12pt
selection
	.sadfasf
		font-weight: bold
		color: green