<!DOCTYPE html>
<html>
<head>
    <title><%=names%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<img src="images/1.jpg"/>
<br>
<img src="images/2.jpg"/>
<hr>
<br>
<%=names%>
<br>
</body>
</html>