<!DOCTYPE html>
<html lang="en">
  <head>
    <title>formdemo</title>
    <link rel="stylesheet" href="stylesheets/form.css">
  </head>
  <body>
    <h1>h1demo</h1><span>spandemo</span>
    <div>divdemo</div>
    <nav>
      <ul>
        <li><a href="#">ademo</a></li>
        <li><a href="#">ademo</a></li>
        <li><a href="#">ademo</a></li>
      </ul>
    </nav>
    <div class="cls">divclsname</div>
    <hr><br><img src="images/1.jpg"><br>
    <hr><img src="images/2.jpg">
    <div id="h2x"><a href="#">adox</a></div>
  </body>
</html>