doctype html
html(lang="en")
    head
        title formdemo
        link(rel="stylesheet",href="stylesheets/form.css")
    body
        h1 h1demo
        span spandemo
        div divdemo
        nav
            ul
                li: a(href="#") ademo
                li: a(href="#") ademo
                li: a(href="#") ademo
        div.cls divclsname
        hr
        br
        img(src="images/1.jpg")
        br
        hr
        img(src="images/2.jpg")
        div#h2x
            a(href="#") adox