<!DOCTYPE html>
<html lang="end">
  <head>
    <title>jade Demo</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/divcls.css">
  </head>
  <body><img src="images/1.jpg"><br><img src="images/2.jpg"><br>
    <hr><img src="images/3.jpg">
    <hr>
    <dl>
      <dt>who</dt>
      <dd>one</dd>
      <dd>two</dd>
      <dd>thr</dd>
    </dl>
    <div id="getLineInfo"></div>
    <h1 id="hid" class="hcls">applet</h1><span>a test demo</span>
    <div class="small"></div>
    <script type="text/javascript" language="javascript" src="javascripts/mediav_ad.js?pid=ccA7NV_1342768&amp;w=640&amp;h=90"></script>
    <div id="diva" class="cls">express demo</div>
    <form>
      <input name="username" type="text" id="username" value="">
      <input name="submit" type="submit" id="submit" value="submit">
    </form>
    <label>dox name</label><span>dox name</span>
    <div>胡安德克</div>
    <label>胡安德克</label>
    <div id="spanid">
      <div class="divcls">
        <input id="filename" class="inputcls clspan">
      </div>
    </div>
    <ul id="ulid">
      <li><a href="#">atest</a></li>
      <li><a href="#">atest</a></li>
    </ul>
    <ul id="ulid1">
      <li><a href="#">atests</a></li>
      <li><a href="#">atests</a></li>
    </ul>
    <select name="sex">
      <option value="1">male</option>
      <option value="0">female</option>
    </select>
  </body>
</html>