<!DOCTYPE html>
<html lang="en">
  <head>
    <title>formdemo</title>
    <link rel="stylesheet" href="stylesheets/form.css">
  </head>
  <body>
    <h1>h1demo</h1><span>spandemo</span>
    <div>divdemo</div>
    <nav>
      <ul>
        <li><a href="#">ademo</a></li>
        <li><a href="#">ademo</a></li>
        <li><a href="#">ademo</a></li>
      </ul>
    </nav>
    <div class="cls">divclsname</div>
    <hr><br><img src="images/1.jpg"><br><img src="images/2.jpg"><br><img src="images/3.jpg">
    <h2 class="cls">hedemo</h2>
    <div class="doxcls">divdemo</div><span class="spancls">dsdfaskajf;kjkdsakf</span>
    <hr><br>
    <input name="submit" type="submit" value="提交">
    <hr><br>
    <div class="psl">sssssssssssssssssss</div>
    <div class="pcls"></div>
    <input id="inputid" name="uname" value="" type="text" class="inputcls-dox">
    <ul>
      <li class="licls-1"><a href="#">li1demo</a></li>
      <li class="licls-2"><a href="#">li2demo</a></li>
      <li class="licls-3"><a href="#">li3demo</a></li>
    </ul>
    <div class="linecls-10px">linecls-10px</div>
    <div class="linecls-20px">linecls-20px</div>
    <div class="linecls-30px">linecls-30px</div>
    <div class="linecls-40px">linecls-40px</div>
    <hr><br>
    <hr><br>
    <div class="border-cls-3px">border-cls-3px</div>
    <div class="border-cls-9px">border-cls-9px</div>
    <div class="border-cls-12px">border-cls-12px</div><br><br><br>
    <h1>h1span</h1>
    <h2>h2span</h2>
    <h3>h3span
      <p>text-decoration</p>
    </h3><br><br><br>
    <div class="ppp">safassdadfs</div><br><br><br>
  </body>
</html>