doctype html
html(lang="en")
    head
        title formdemo
        link(rel="stylesheet",href="stylesheets/form.css")
    body
        h1 h1demo
        span spandemo
        div divdemo
        nav
            ul
                li: a(href="#") ademo
                li: a(href="#") ademo
                li: a(href="#") ademo
        div.cls divclsname
        hr
        br
        img(src="images/1.jpg")
        br
        img(src="images/2.jpg")
        br
        img(src="images/3.jpg")
        h2.cls hedemo
        div.doxcls divdemo
        span.spancls dsdfaskajf;kjkdsakf
        hr
        br
        input(name="submit",type="submit",value="提交")
        hr
        br
        div.psl sssssssssssssssssss
        div.pcls
        input#inputid.inputcls-dox(name="uname",value="",type="text")
        ul
            li.licls-1: a(href="#") li1demo
            li.licls-2: a(href="#") li2demo
            li.licls-3: a(href="#") li3demo
        .linecls-10px linecls-10px
        .linecls-20px linecls-20px
        .linecls-30px linecls-30px
        .linecls-40px linecls-40px
        hr
        br
        hr
        br
        div.border-cls-3px border-cls-3px
        div.border-cls-9px border-cls-9px
        div.border-cls-12px border-cls-12px
        br
        br
        br
        h1 h1span
        h2 h2span
        h3 h3span
            p text-decoration
        br
        br
        br
        div.ppp safassdadfs
        br
        br
        br

