$fs1: 12pt;
$lh1: 20px;
$fs2: 10pt;
$shipx: 10px;

//fdksajfksadf;sadkj
//sadfksdj;fl
$color: pink;
$display: block;
$hidden: none;
//@import "Reset.css";
@import "reset_";
@import "bourbon/bourbon";

body{
  border:$shipx solid $color;
  font-size:$fs1;
  font-family: Arial;
  line-height:$lh1;
  margin:0px;
  padding:0px;
  font-weight:bold;
}



div{
  font-size:$fs2;
  font-weight:bold;
}


/*
* sadfsajf;klasf;d
sdfjasfasd
*/

nav{
  ul{
    color:$color;
    font-size:$fs2;
  }
  li{
    border:0px solid $color;
    display: $display;
    font-size:$fs2;
  }

  a{
    text-decoration: $hidden;
    font-family: Webdings;
    font-size:$fs2;
  }
  a:hover{
    color: $color;
  }
}

h1{
  color: $color;
  font-size:$fs1;
}

img{
  border:10px solid green;
}

@mixin setfontstyle($fontsize){
  border:$fontsize solid red;
  color: #00B7FF;
  font-size: $fontsize;
  font-weight:bold;
}

.setfontstyle_{
  border:10px solid red;
color: #00B7FF;
font-size: 10px;
font-weight:bold;
}

.cls{
  margin: 20px;
  @include setfontstyle(20px);
}

.doxcls{
  text-decoration: none;
  display: block;
  @extend .setfontstyle_;
}

.spancls{
  padding:0px;
  margin:10px;
  clear:both;
  text-align:center;
  @extend .setfontstyle_;
}

$baip: 100%;

input[name=submit]{
  background-color:pink;
  font-size:12pt;
  width:300px / 960px*100%;
  height:40px;
  text-align:center;
  border:5px solid green;
  clear:both;
  font-family: "Microsoft YaHei UI";
  line-height: 30px / 20px * $baip;
}

$color_: green;
.psl{
  border:1px solid red;
  font-size:12pt;
  color:$color_;
  &:hover:before{
    color:darken($color_,10%);
    content:"#beforesss";
  }
  &:hover:after{
    color:darken($color_,10%);
    content:"#aftersss";
  }
}
$color_1: yellow;
$color_1: blue !default;
div.pcls{
  width:100%;
  height:40px;
  border:5px solid $color_1;
}
$varcls: dox;
$colorname: color;
$centername: center;
$pxx: 5px 10px 20px 5px;
$px_1: 5px 10px,20px 30px;
$px_2: (5px 10px) (20px 30px);

input.inputcls-#{$varcls}{
  //border:2px solid green;
  background-color:darkgrey;
  #{$colorname}:#ff0000;
  text-align:$centername;
  margin:$pxx;
  //padding:nth($px_1,1) nth($px_1,2);
  padding: nth($px_2,1) nth($px_2,2);
  border: nth($pxx,3) solid green;
  font-size:nth(nth($px_2,2),2);
}

 @for $i from 1 through 3{
  ul li.licls-#{$i}{
    font-size:$i*10px;
  }
 }

$array_1: 10px,20px,30px,40px;
@each $px_x in $array_1{
  .linecls-#{$px_x}{
    font-size: $px_x;
  }
}

$bordercls: (3px solid green),(9px dashed red),(12px dotted blue);
@each $p_px,$p_solid,$p_color in $bordercls{
  .border-cls-#{$p_px}{
    border: $p_px $p_solid $p_color;
  }
}

$hcls: (h1:10px,h2:20px,h3:30px);
@each $htag,$size_ in $hcls{
  #{$htag}{
    font-size:$size_;
  }
}

$flag_: true;
$hands_: pointer;

p{
  @if($flag_){
    text-decoration: underline;
    text-decoration-color: #004d00;
    @if($hands_ == hand){
      cursor: hand;
    }@else if($hands_ == pointer){
      cursor:pointer;
    }@else if($hands_ == error){
      display: inline-block;
    }@else{
      display: none;
    }
    border: if(true,2px,10px) solid red;
  }
}


$fs_1: 10pt;
div.fs{
  $fs_1: 12pt !global;
  font-size:$fs_1;
}

div.doxfs{
  font-size:$fs_1;
}

div.ppp{
  border:2px solid;
  @include border-color(red green null blue);
}